@import "./../node_modules/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "./../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  background-color: #F9F9F9 !important;
}
